:root {
  --color1: #BB0A21; 
  --color2: #0A0908;
  --color3: #E3D0D8;
  --color4: #fbbd5e;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.text-skill {
  color: var(--color4);
  font-weight: bold;
}

.materialize {
  color: #ee6e73;
  font-weight: bold;
}

.react {
  color: #61dafb;
  font-weight: bold;
}

.bootsp {
  color: #563d7c;
  font-weight: bold;
}

h2.title {
  font-size: 4em;
}

p, li {
  font-size: 1.2em;
}

h3.about-title-size {
  font-size: 2.5em;
}

h2.t-footer-movil {
  font-size: 2.5em;
}

.span-size {
  font-size: 1.35em;
}

.box-skills {
  border: 2px solid var(--color4);
  /* border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0; */
}

#portfolio .carousel-indicators {
  bottom: 0;
  position: relative;
}
#portfolio .carousel-indicators li {
  border-radius: 20px;
  height: 15px;
  width: 15px;
}
#portfolio .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}

.bg-about {
  background: #fffefd url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/honeycomb.png?raw=true) fixed;
  background-size: 24px;
}
/* .box-tech-skill {
  border: 1px solid purple;
} */

.title {
  font-family: 'Unica One', cursive;
  color: var(--color1);
}

.icon-footer {
  color: var(--color1);
}

.icon-footer:hover {
  color: rgba(187, 36, 41, 0.596);
}

.color-text-skills {
  color: var(--color1);
}

.color1 {
  color: var(--color2);
}

.dashes {
  border-top: 3px dashed var(--color1);
}

.t-header {
  font-size: 1.6em;
}

.t-jumbotron {
  font-size: 6em;
}

.portfolio-color {
  background-color: var(--color3);
  border-radius: 10px;
}

.jumbotron {
  background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)), url(../assets/images/portada.jpg) center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.photo {
  width: 17em;
  height: 17em;
  border: 2px solid var(--color1);
}

.icon-about {
  height: 8em;
}

.menu-white {
  background-color: rgba(255, 254, 253, 1);
  box-shadow: 0 0 0 1px rgba(187, 36, 41, 0.15);
}

/* .menu-transparent {
  border-bottom: none;
} */

.modal-dialog#modal-g {
  max-width: 95%;
}

a.btn.td-btn.outline, button.btn.td-btn.outline {
  background-color: transparent;
  color: var(--color2);
  font-weight: bold;
  border: 2px solid var(--color1);
}

a.btn.td-btn.outline:hover, button.btn.td-btn.outline:hover {
  color: #fafafa;
  background-color: var(--color1);
}

.frase {
  font-weight: bold;
}

.frase span {
  font-size: 13px;
}

.margin-about {
  padding-top: 5rem;
}

.margin-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mtop-interno {
  margin-top: 5rem;
}

.mbm-interno {
  margin-bottom: 5rem;
}

.carousel-indicators .active {
  background-color: var(--color1);
}

.carousel-indicators li {
  background-color: rgba(91, 0, 98, 0.5);
}

div#carouselPortfolio {
  margin-bottom: 5rem;
}

div#carouselPortfolio {
  padding-bottom: 5rem;
}

@media (min-width: 992px) {
  h2.title {
    font-size: 4.4em;
  }
  
  p, li {
    font-size: 1.25em;
  }
  
  h3.about-title-size {
    font-size: 2.7em;
  }
  
  h2.t-footer-movil {
    font-size: 4.4em;
  }
  
} 


::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  background: rgba(0, 0, 0, 0.2);
}