body {
  font-family: 'Montserrat', sans-serif;
}

p, li {
  font-size: 1.3em;
}

h3.about-title-size {
  font-size: 2.75em;
}

.span-size {
  font-size: 1.35em;
}

.title {
  font-family: 'Unica One', cursive;
  color: #245394;
}

.t-color {
  color: #575B5F;
}

.icon-footer {
  color: #575055;
}

.icon-footer:hover {
  color: #575055;
}

.color1 {
  color: #000;
}

.dashes {
  border-top: 3px dashed #FEDFDA;
}

.t-header {
  font-size: 1.6em;
}

.t-jumbotron {
  font-size: 6em;
}

h2.title {
  font-size: 4.4em;
}

.portfolio-color {
  background-color: #E3F2E6;
  border-radius: 10px;
}

.jumbotron {
  background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)), url(../assets/images/portada.jpg) center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.photo {
  width: 17em;
  height: 17em;
}

.icon-about {
  width: 10em;
  height: 8em;
}

.menu-white {
	background-color: rgba(255, 254, 253, 0.9);
}


ul.navbar-nav {
  background-color: rgba(255, 254, 253, 0.7);
  border-radius: 10px;
}

.modal-dialog#modal-g {
  max-width: 95%;
}

a.btn.td-btn.outline, button.btn.td-btn.outline {
  background-color: #F3E6ED;
  color: #688DBE;
  font-weight: bold;
}

a.btn.td-btn.outline:hover, button.btn.td-btn.outline:hover {
  color: #e40a8a;
  background-color: #FEDFDA;
}

.frase {
  font-weight: bold;
}

.frase span {
  font-size: 13px;
}

.margin-about {
  padding-top: 10rem;
}

.margin-section {
  margin-top: 10rem;
}

.mtop-interno {
  margin-top: 7rem;
}

.mbm-interno {
  margin-bottom: 7rem;
}

.carousel-indicators .active {
  background-color: #245394;
}

.carousel-indicators li {
  background-color: rgba(36, 83, 148, 0.5);
}

div#carouselPortfolio {
  padding-bottom: 7rem;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  background: rgba(0, 0, 0, 0.2);
}