<div class="experience__container">
    <div class="experience__title">
      <h2 class="heading-primary--main" [ngClass]="stickyClass">About my experience</h2>
    </div>

    <ul class="experience__cards">
      <li class="experience__cards--item">
        <img src="assets/img_dev.svg" alt="ctahirih-frontend">
        <p class="u-margin-t-24">Frontend Developer with <span class="text-bold">experience in designing user interfaces.</span></p>
      </li>
      <li class="experience__cards--item">
        <img src="assets/img_scrum.svg" alt="ctahirih-frontend">
        <p class="u-margin-t-24">Proficient in <span class="text-bold">agile methodologies</span> for efficient project management.</p>
      </li>
      <li class="experience__cards--item">
        <img src="assets/img_angular.svg" alt="ctahirih-frontend">
        <p class="u-margin-t-24">Extensive knowledge of JavaScript, with <span class="text-bold">experience in the Angular framework.</span></p>
      </li>
      <li class="experience__cards--item">
        <img src="assets/img_mobile.svg" alt="ctahirih-frontend">
        <p class="u-margin-t-24">I recently embarked on the exciting journey of
          <span class="text-bold">iOS development.</span></p>
      </li>
    </ul>
</div>