<div class="contact-section__container">
    <h2 class="heading-primary--main">Contact with me</h2>
    <p class="paragraph">If you'd like to drop a greeting, find me on social media!</p>

    <div class="contact-section__social-media u-margin-y-24">
      <div class="contact-section__item-social-media">
        <a href="https://www.linkedin.com/in/ctahirih/"><img src="/assets/icons/linkedin-square.svg" alt="ctahirih"></a>
      </div>

      <div class="contact-section__item-social-media">
        <a href="https://github.com/ctahirih"><img src="/assets/icons/github.svg" alt="github.com/ctahirih"></a>
      </div>

      <div class="contact-section__item-social-media">
        <a href="https://dev.to/ctahirih"><img src="/assets/icons/dev-dot-to.svg" alt="dev.to/ctahirih"></a>
      </div>
    </div>

    <p class="heading-primary--sub u-margin-b-16">Or send me a email</p>
    <p class="paragraph">cintiatahirih.jp@gmail.com</p>
  </div>