<header class="header landing-max-width u-padding-x-20">
    <h1 class="heading-secondary header__title--mobile u-padding-t-24">print("<span>Hello</span> World")</h1>
    <div class="header__profile u-margin-t-24">
      <div class="header__profile-img">
        <img src="./assets/profile_image.jpeg" alt="ctahirih photo">
      </div>
      <div>
        <p class="paragraph u-padding-y-32">
          Hi, this is Tahirih. I’m a <span class="text-bold">FullSnack Developer</span>. Cookies,
          potatoes cheeps, coffee and everything to snack on while I code.
        </p>
        <button class="btn btn--primary" (click)="scrollAboutSection()">More about me?</button>
      </div>
    </div>
    <div class="header__contact">
      <h1 class="heading-secondary slider-wrapper header__title--desktop">
        print("<span>Hello</span> World")
      </h1>
      <div class="contact-card">
        <h2 class="contact-card__title">Contact me:</h2>
        <div class="contact-card__items">
          <div class="contact-card__items--item">
            <div class="card-item__icon">
              <img src="/assets/icons/linkedin-square.svg" alt="ctahirih">
            </div>
            <div class="card-item__text">
              <a href="https://www.linkedin.com/in/ctahirih/" target="_blank" (click)="onClickLinksIcon('linkedin')">Let's connect to explore opportunities and growth together!</a>
            </div>
          </div>
  
          <div class="contact-card__items--item">
            <div class="card-item__icon">
              <img src="/assets/icons/github.svg" alt="github.com/ctahirih">
            </div>
            <div class="card-item__text">
              <a href="https://www.github.com/ctahirih" target="_blank" (click)="onClickLinksIcon('github')">Wellcome to my code corner!</a>
            </div>
          </div>
  
          <div class="contact-card__items--item">
            <div class="card-item__icon">
              <img src="/assets/icons/dev-dot-to.svg" alt="dev.to/ctahirih">
            </div>
            <div class="card-item__text">
              <a href="https://dev.to/ctahirih" target="_blank" (click)="onClickLinksIcon('dev')">Welcome to my space where I share and take knowledge!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>