@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Pridi:wght@400;500;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  // font-family: 'Pridi', serif;
}

.heading-primary {
  color: #000;
  font-family: 'Pridi', serif;

  &--main {
    display: block;
    font-size: 32px;
    font-weight: 700;

    @include respond(tab-land) {
      font-size: 40px;
    }

    @include respond(tab-desktop) {
      font-size: 48px;
    }
  }

  &--sub {
    display: block;
    font-size: 24px;
    font-weight: 700;

    @include respond(tab-land) {
      font-size: 32px;
    }

    @include respond(tab-desktop) {
      font-size: 40px;
    }
  }
}

.heading-secondary {
  font-family: 'Pridi', serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--black);
/*  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;*/
  letter-spacing: .15rem;

  @include respond(tab-land) {
    font-size: 40px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;

  @include respond(tab-port) {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.text-bold {
  font-weight: 700;
}